.AbouthMe{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation-name: ann;
  animation-duration: 3s;
}

.myName{
    margin-top: 5%;
    margin-left: 3%;
    color:grey;
    font-size: 20px;
    border: 3px solid grey;
    width: 80%;
    padding: 2%;
    
}
.myLearn{
    margin-top: 7%;
    margin-right: 3%;
    width: 80%;
    font-size: 20px;
   border: 3px solid grey;
   text-align: center;
   margin-left: 13%;
   padding: 2%;
}
.aft{
    margin-top: 5%;
    margin-left: 3%;
    color:grey;
    font-size: 20px;
    border: 3px solid grey;
    padding: 2%;
    width: 80%;
}

